.settings-modal-con{
    position: absolute;
    right:10px;
    width:300px;
    background-color: ghostwhite;
    border:1px solid gray;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    transition: all 0.2s ease-in-out;
}

.settings-checkbox-con{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.settings-checkbox-con input{
    margin-right: .5rem;
}